x-superset-user: &superset-user root
x-superset-volumes: &superset-volumes
  # /app/pythonpath_docker will be appended to the PYTHONPATH in the final container
  - ./docker:/app/docker
  # - ./superset:/app/superset
  - ./superset-core:/app/superset-core 
  - ./docker/superset_config.py:/app/pythonpath/superset_config.py
  - superset_data:/app/data

services:
  db:
    image: postgres:17
    container_name: postgres_container
    ports:
      - 5000:5432
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./postgres/airflow_init.sql:/docker-entrypoint-initdb.d/airflow_init.sql
      - ./postgres/superset_init.sql:/docker-entrypoint-initdb.d/superset_init.sql
      - ./postgres/weather_init.sql:/docker-entrypoint-initdb.d/weather_init.sql
    healthcheck: 
      test: ["CMD-SHELL", "pg_isready -U admin -d db"] 
      interval: 10s 
      timeout: 5s 
      retries: 5
    networks:
      - my_network
  
  af:
    container_name: airflow_container
    build: ./airflow
    image: apache/airflow:latest-python3.10
    ports:
      - 8000:8080
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@db:5432/airflow_db
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./api-request:/opt/airflow/api-request
      - /var/run/docker.sock:/var/run/docker.sock
      - ./dbt/my_project:/opt/airflow/dbt/my_project
      - ./dbt/profiles.yml:/opt/airflow/dbt/profiles.yml
    group_add:
      - '1001'
    depends_on:
      - db
    healthcheck: 
      test: ["CMD-SHELL", "airflow db check"] 
      interval: 10s 
      timeout: 10s 
      retries: 5
    networks:
      - my_network
    command: >
      bash -c "airflow db migrate && airflow standalone"

  dbt:
    container_name: dbt_container
    image: ghcr.io/dbt-labs/dbt-postgres:1.9.latest
    volumes:
      - ./dbt/my_project:/usr/app
      - ./dbt:/root/.dbt
    working_dir: /usr/app
    environment:
      DBT_PROFILES_DIR: "/root/.dbt" # OVERWRITE THIS VARIABLE
    depends_on: 
      db: 
        condition: service_healthy 
      af: 
        condition: service_healthy
    networks:
      - my_network
    command: run

  superset-init:
    image: apache/superset:3.0.0-py310
    container_name: superset_init
    command: ["/app/docker/docker-init.sh"]
    env_file:
      - path: docker/.env # default
        required: true
    depends_on:
      db: 
        condition: service_started
      redis: 
        condition: service_started
    user: *superset-user
    volumes: *superset-volumes
    environment:
      SUPERSET_LOAD_EXAMPLES: "no"
      SUPERSET_LOG_LEVEL: "${SUPERSET_LOG_LEVEL:-info}"
      DATABASE_DB: "superset_db"
    healthcheck:
      disable: true
    networks:
      - my_network

  superset:
    env_file:
      - path: docker/.env # default
        required: true
    image: apache/superset:3.0.0-py310
    container_name: superset_app
    command: ["/app/docker/docker-bootstrap.sh", "app"]
    restart: unless-stopped
    ports:
      - 8088:8088
    user: *superset-user
    depends_on:
      superset-init:
        condition: service_completed_successfully
    volumes: *superset-volumes
    environment:
      SUPERSET_LOG_LEVEL: "${SUPERSET_LOG_LEVEL:-info}"
      DATABASE_DB: "superset_db"
    networks:
      - my_network

  redis:
    image: redis:7
    container_name: superset_cache
    restart: unless-stopped
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis:/data
    networks:
      - my_network

# ENABLE THESE SERVICES TO COMMUNICATE WITH EACH OTHER INTERNALLY
networks:
  my_network:
    driver: bridge

volumes:
  redis:
    external: false
  superset_data:
    external: false
